<div>
    <h2 data-translate="ticketingSystemApp.taskType.home.title">Task Types</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="task-type.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="ticketingSystemApp.taskType.home.createLabel">
                        Create new Task Type
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="code"><span data-translate="ticketingSystemApp.taskType.code">Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="title"><span data-translate="ticketingSystemApp.taskType.title">Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="requestType.title"><span data-translate="ticketingSystemApp.taskType.requestType">Request Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="taskType in vm.taskTypes track by taskType.id">
                    <td><a ui-sref="task-type-detail({id:taskType.id})">{{taskType.id}}</a></td>
                    <td>{{taskType.code}}</td>
                    <td>{{taskType.title}}</td>
                    <td>
                        <a ui-sref="request-type-detail({id:taskType.requestType.id})">{{taskType.requestType.title}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="task-type-detail({id:taskType.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="task-type.edit({id:taskType.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="task-type.delete({id:taskType.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
