
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRequestLabel" data-translate="ticketingSystemApp.request.home.createOrEditLabel">Create or edit a Request</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.request.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.request.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="ticketingSystemApp.request.description" for="field_description">Description</label>
            <textarea type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.request.description"
                    required/>
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="ticketingSystemApp.request.priority" for="field_priority">Priority</label>
            <select class="form-control" id="field_priority" name="priority" ng-model="vm.request.priority" ng-options="priority as priority.title for priority in vm.priorities track by priority.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="ticketingSystemApp.request.requestType" for="field_requestType">Request Type</label>
            <select class="form-control" id="field_requestType" name="requestType" ng-model="vm.request.requestType" ng-options="requestType as requestType.title for requestType in vm.requesttypes track by requestType.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
